## Environment ##
NODE_ENV=development

## Server ##
PORT=3000
GRPC_PORT=50051

POSTGRES_URL=postgres://user:password@localhost:5432/dbname

GITHUB_AUTH_TOKEN=

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=noreply@localhost
SMTP_PASS=
SMTP_SENDER_EMAIL=noreply@example.com

APP_URL=http://localhost:3000

REDIS_URL=redis://localhost:6379

APP_API_KEY=

LAUNCH_TEST_CONTAINERS=false
